# Discord Bot Configuration
DISCORD_BOT_TOKEN=token
DISCORD_GUILD_ID=server_id
## ときどきエラー等でメンションが飛んだり、管理者操作を制限したり
ADMIN_ROLE_ID=admin_role_id

# Plugin API Configuration
PLUGIN_API_URL=http://localhost:25580
## //pluginのconfig.ymlのものと同じならAPI keyはなんでもいいです
PLUGIN_API_KEY=your-shared-api-key-here
BOT_TEST_MODE=false
## 登録した人全てに付くロール
WHITELISTED_ROLE_ID=whitelisted_role_id

# Server Connection Info
## /server-supportでユーザー向けに静的表示されるもの
JAVA_SERVER_ADDRESS=serveraddress.example.com:25565
BEDROCK_SERVER_ADDRESS=be.example.com
BEDROCK_SERVER_PORT=19132